body {
	font-family: 'Roboto', sans-serif;
	background-color: #FFFFFF;
	color: #b3b3b3;
	text-align: center;
}

.active-cyan-4 input[type=text]:focus:not([readonly]) {
	border: 1px solid #4dd0e1;
	box-shadow: 0 0 0 1px #4dd0e1;
}

.active-cyan-3 input[type=text] {
	border: 1px solid #4dd0e1;
	box-shadow: 0 0 0 1px #4dd0e1;
}



#search-box {
	margin: 100px;
}

Search with icon .header {
	height: 70px;
	padding: 10px;
	background-color: #FFF;
	z-index: 10;
	border-bottom: 2px solid #000000;
	color: #2ed39e;
}

#heading,
h2 {
	display: inline;
}

.search-stats {
	height: 100px;
	border-bottom: 2px solid #000000;
}

.search {
	background-color: #dddddd;
	height: 99px;
}

.search-form {
	margin: 10px;
}

.sort-form {
	display: inline;
}

.stats {
	background-color: #dff0d8;
	color: #3c763d;
}

.deals {
	padding: 10px;
	background-color: #DCDCDC;
}

.deal {
	background-color: #FFFFFF;
	border-radius: 10px;
	z-index: 10px;
	border: 2px solid #2ce89f;
	margin: 4px;
}

.media {
	padding: 5px;
}

.deal-name {
	font-size: 20px;
	color: #009999;
}

.locality {
	color: #A9A9A9;
}

.rating {
	color: #eb9316;
}

.discount-circle {
	width: 90px;
	height: 40px;
	margin: 10px 0 0 -10px;
	-moz-border-radius: 100px / 50px;
	-webkit-border-radius: 100px / 50px;
	border-radius: 100px / 50px;
	background-color: #ff5050;
}

.discount {
	color: #FFFFFF;
	font-size: 15px;
	margin-left: 20px;
}